{
  "extends": [
    "xadillax-style"
  ],
  "globals": {
    "it": true,
    "describe": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  }
}